<div class="row">
<div class="col-6">
<address>
  <strong>Block Scope Limited</strong><br/>
  638C Woodfields Rd<br/>
  Cust<br/>
  Canterbury 7475<br/>
  NEW ZEALAND<br/>
</address>
</div> 
<div class="col-6">
  <address>
    <i class="fas fa-envelope"></i><a href="mailto:info@blockscope.com"> info@blockscope.com</a><br/>
    <i class="fas fa-phone"></i> +1-450-675-9180<br/>
  </address>
  <i class="fab fa-github"></i>
  <a href="https://github.com/blockscope" target="_blank" rel="noopener">github/blockscope</a><br/>
</div>
