<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>BlockScope - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div id="side" class="col-3 card">
                    $partial("templates/nav.html")$
                </div>
                <div class="col-9">
                    $body$
                </div>
            </div>
        </div>
    </body>
    <script language="javascript" src="/css/app.js" defer></script>
</html>
