<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>About $title$</title>
        <link rel="stylesheet" href="/css/app.css" >
        $partial("templates/favicon.html")$
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="side" class="col-3 card d-print-none">
                    $partial("templates/nav.html")$
                </div>
                <div id="content">
                    $body$
                    <hr/>
                    <footer>
                        $partial("templates/philderbeast-contact.html")$
                    </footer>
                </div>
            </div>
        </div>
    </body>
    <script language="javascript" src="/css/app.js" defer></script>
</html>
