<div class="card-body">
    $partial("templates/banner.html")$
    <nav>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="/projects/">projects</a></li>
            <li class="nav-item"><a class="nav-link" href="/projects/uom/">&nbsp;units</a></li>
            <li class="nav-item"><a class="nav-link" href="/projects/geodetics/">&nbsp;geodetics</a></li>
            <li class="nav-item"><a class="nav-link" href="/projects/fly/">&nbsp;flight</a></li>
            <li class="nav-item"><a class="nav-link" href="/projects/build-tools/">&nbsp;build tools</a></li>
        </ul>
    </nav>
</div>
