<div class="row">
<div class="col-5">
<address>
  <strong>Block Scope Limited</strong><br/>
  638C Woodfields Rd<br/>
  Cust<br/>
  Canterbury 7475<br/>
  NEW ZEALAND<br/>
</address>
</div> 
<div class="col-5">
<address>
  <i class="fa fa-envelope"></i><a href="mailto:info@blockscope.com"> info@blockscope.com</a><br/>
  <i class="fa fa-phone"></i> +1-450-675-9180<br/>
</address>
</div> 
<div class="col-2">
  <i class="fa fa-github"></i>
  <a href="https://github.com/blockscope" target="_blank">github</a><br/>
</div>
