<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>BlockScope - $title$</title>
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div id="side" class="col-4 card">
                    <div class="card-body">
                        <h1 class="card-title"><a href="/">Block Scope</a></h1>
                        <p class="card-text">A projection of corporation and self.</p>
                        <nav class="nav">
                            <a class="nav-link" href="/about.html">Company</a>
                            <a class="nav-link" href="/contact.html">Individual</a>
                            <a class="nav-link" href="/archive.html">Posts</a>
                        </nav>
                    </div>
                </div>
                <div id="content" class="col-6">
                    $body$
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                </div>
            </footer>
        </div>
    </body>
    <script language="javascript" src="/css/app.js" defer></script>
</html>
