<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    $partial("templates/meta.html")$
    <title>$title$</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
        integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
    <script type="module" defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js"
        integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY"
        crossorigin="anonymous"></script>
    <script type="module" defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js"
        integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    $partial("templates/favicon.html")$
</head>

<body>
    <div class="d-lg-none">
        <div id="nav-top" class="d-print-none">
            $partial("templates/nav-horiz.html")$
        </div>
        <div id="content" class="d-print-col-12">
            $body$
        </div>
    </div>
    <div class="d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div id="nav-side" class="col-3 card d-print-none">
                    $partial("templates/reviews/nav-vert.html")$
                </div>
                <div id="content" class="d-print-col-12">
                    $body$
                </div>
            </div>
        </div>
</body>

</html>