<div class="card-body">
    $partial("templates/banner.html")$
    <nav>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="/blog/">blog</a></li>
            <li class="nav-item"><a class="nav-link" href="/projects/">projects</a></li>
            <li class="nav-item"><a class="nav-link" href="/b/">services</a></li>
            <li class="nav-item"><a class="nav-link" href="/p/">about</a></li>
            <li class="nav-item"><a class="nav-link" href="/cv/">CV</a></li>
            <li class="nav-item"><a class="nav-link" href="/tweets/">tweets</a></li>
        </ul>
    </nav>
</div>
