<header>
    <table>
        <tbody>
            <tr>
            <td style="padding-right: 1rem">
<pre class="sourceCode pre">
<code>
+
|
|
|
|
+
</code>
</pre>
            </td>
            <td>
                <div>
                    <h1 class="display-4">Posts tagged [$tag$]</h1>
                    <p class="lead">That's all there is<a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a></p>
                </div>
            </td>
            </tr>
        </tbody>
    </table>
</header>
